---
import { SITE } from '~/config/site/config.js';
import Layout from '~/layouts/PageLayout.astro';
import TeamWidget from '~/components/widgets/Team.jsx';
import team, { exec } from '~/config/components/team';
import ambassadors from '~/config/components/ambassadors';
import alumni from '~/config/components/alumni';

import { getHomePermalink } from '~/utils/permalinks';

const title = `Error 404`;

const metadata = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};

var execColCss = 'grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4';

if (exec?.enabled === true) {
  if (exec.members.length === 1) {
    execColCss = 'grid gap-8 lg:gap-16 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1';
  } else if (exec.members.length === 2) {
    execColCss = 'grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2';
  } else if (exec.members.length === 3) {
    execColCss = 'grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3';
  }
}

var teamColCss = 'grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4';

if (team?.enabled === true) {
  if (team.members.length === 1) {
    teamColCss = 'grid gap-8 lg:gap-16 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1';
  } else if (team.members.length === 2) {
    teamColCss = 'grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2';
  } else if (team.members.length === 3) {
    teamColCss = 'grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3';
  }
}

var ambassadorColCss = 'grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4';

if (ambassadors?.enabled === true) {
  if (ambassadors.members.length === 1) {
    ambassadorColCss = 'grid gap-8 lg:gap-16 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1';
  } else if (ambassadors.members.length === 2) {
    ambassadorColCss = 'grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2';
  } else if (ambassadors.members.length === 3) {
    ambassadorColCss = 'grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3';
  }
}

var memberColCss = 'grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4';

if (alumni?.enabled === true) {
  if (alumni.members.length === 1) {
    memberColCss = 'grid gap-8 lg:gap-16 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1';
  } else if (alumni.members.length === 2) {
    memberColCss = 'grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2';
  } else if (alumni.members.length === 3) {
    memberColCss = 'grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3';
  }
}
---

<!-- Sections for Leadership Team, Ambassadors, and Alumni -->{
  team?.enabled && ambassadors?.enabled && alumni?.enabled && (
    <Layout {metadata}>
      <section>
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
          <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">{exec.title}</h2>
            <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">{exec.description}</p>
          </div>
          <div class={execColCss}>
            <TeamWidget members={exec.members} />
          </div>
        </div>
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
          <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">{team.title}</h2>
            <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">{team.description}</p>
          </div>
          <div class={teamColCss}>
            <TeamWidget members={team.members} />
          </div>
        </div>
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
          <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
              {ambassadors.title}
            </h2>
            <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">{ambassadors.description}</p>
          </div>
          <div class={ambassadorColCss}>
            <TeamWidget members={ambassadors.members} />
          </div>
        </div>
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
          <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">{alumni.title}</h2>
            <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">{alumni.description}</p>
          </div>
          <div class={memberColCss}>
            <TeamWidget members={alumni.members} />
          </div>
        </div>
      </section>
    </Layout>
  )
}

<!-- Sections for Leadership Team & Ambassadors -->
{
  team?.enabled && ambassadors?.enabled && !alumni?.enabled && (
    <Layout {metadata}>
      <section>
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
          <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">{exec.title}</h2>
            <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">{exec.description}</p>
          </div>
          <div class={execColCss}>
            <TeamWidget members={exec.members} />
          </div>
        </div>
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
          <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">{team.title}</h2>
            <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">{team.description}</p>
          </div>
          <div class={teamColCss}>
            <TeamWidget members={team.members} />
          </div>
        </div>
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
          <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
              {ambassadors.title}
            </h2>
            <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">{ambassadors.description}</p>
          </div>
          <div class={ambassadorColCss}>
            <TeamWidget members={ambassadors.members} />
          </div>
        </div>
      </section>
    </Layout>
  )
}

<!-- Sections for Leadership Team & Alumni -->
{
  team?.enabled && alumni?.enabled && !ambassadors?.enabled && (
    <Layout {metadata}>
      <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
          <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">{exec.title}</h2>
            <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">{exec.description}</p>
          </div>
          <div class={execColCss}>
            <TeamWidget members={exec.members} />
          </div>
        </div>
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
          <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">{team.title}</h2>
            <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">{team.description}</p>
          </div>
          <div class={teamColCss}>
            <TeamWidget members={team.members} />
          </div>
        </div>
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
          <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">{alumni.title}</h2>
            <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">{alumni.description}</p>
          </div>
          <div class={memberColCss}>
            <TeamWidget members={alumni.members} />
          </div>
        </div>
      </section>
    </Layout>
  )
}

<!-- Only show section for Leadership Team -->
{
  team?.enabled && !ambassadors?.enabled && !alumni?.enabled && (
    <Layout {metadata}>
      <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
          <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">{exec.title}</h2>
            <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">{exec.description}</p>
          </div>
          <div class={execColCss}>
            <TeamWidget members={exec.members} />
          </div>
        </div>
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
          <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">{team.title}</h2>
            <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">{team.description}</p>
          </div>
          <div class={teamColCss}>
            <TeamWidget members={team.members} />
          </div>
        </div>
      </section>
    </Layout>
  )
}

<!-- Show Error Page -->
{
  !team?.enabled && (
    <Layout metadata={{ title }}>
      <section class="flex items-center h-full p-16">
        <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
          <div class="max-w-md text-center">
            <h2 class="mb-8 font-bold text-9xl">
              <span class="sr-only">Error</span>
              <span class="text-primary">404</span>
            </h2>
            <p class="text-3xl font-semibold md:text-3xl">Sorry, we couldn't find this page.</p>
            <p class="mt-4 mb-8 text-lg text-muted dark:text-slate-400">
              But dont worry, you can find plenty of other things on our homepage.
            </p>
            <a rel="noopener noreferrer" href={getHomePermalink()} class="btn ml-4">
              Back to homepage
            </a>
          </div>
        </div>
      </section>
    </Layout>
  )
}
