---
//import { splitEvents } from '~/content/utils.js'; // Import your event handling logic
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
//import { playlists } from '../utils/data';
import Headline from '~/components/ui/Headline.astro';
import FormattedDate from '~/components/FormattedDate.astro';
import EventAddress from 'src/components/EventAddress.astro';
import Button from '~/components/ui/Button.astro';
import Card from '~/components/ui/Card.astro';
//import { Icon } from 'astro-icon/components';

const future_events = (
  await getCollection('event', ({ data }: CollectionEntry<'event'>) => new Date(data.dateTime) > new Date())
).sort((b, a) => b.data.dateTime.valueOf() - a.data.dateTime.valueOf());

const past_events = (
  await getCollection('event', ({ data }: CollectionEntry<'event'>) => new Date(data.dateTime) < new Date())
).sort((a, b) => b.data.dateTime.valueOf() - a.data.dateTime.valueOf());
---

<Headline title="Upcoming Events" />
<div class="grid grid-cols-1 gap-6 mb-8 md:mt-3 md:mb-12 text-center">
  {
    future_events.length === 0 ? (
      <p>No upcoming events found.</p>
    ) : (
      future_events.map((event) => (
        <Card padding="p-0" class="flex">
          <img
            src={event.data.image.src}
            alt={event.data.image.alt}
            class={`h-48 w-48 ${event.data.imgpos}`}
            transition:name="playlist ${event.id} image"
          />
          <div class="p-4 w-2/3">
            <h3
              class="text-xl font-semibold mb-2 text-gray-900 dark:text-slate-100"
              transition:name="playlist ${event.id} title"
            >
              {event.data.title}
            </h3>
            <div class="text-sm mb-4 text-gray-700 dark:text-slate-300">
              <FormattedDate date={event.data.dateTime} />
            </div>
            <div class="text-sm mb-4 text-gray-700 dark:text-slate-300">
              <EventAddress artists={event.data.location || []} />
            </div>
            <Button variant="primary" href={`/events/${event.id}`} text="MORE INFO" />
          </div>
        </Card>
      ))
    )
  }
</div>

<Headline title="Past Events" />
<div class="grid grid-cols-1 gap-6 mb-8 md:mt-3 md:mb-12 text-center">
  {
    past_events.map((event) => (
      <Card padding="p-0" class="flex">
        <img
          src={event.data.image.src}
          alt={event.data.image.alt}
          class={`h-48 w-48 ${event.data.imgpos}`}
          transition:name="playlist ${event.id} image"
        />
        <div class="p-4 w-2/3">
          <h3
            class="text-xl font-semibold mb-2 text-gray-900 dark:text-slate-100"
            transition:name="playlist ${event.id} title"
          >
            {event.data.title}
          </h3>
          <div class="text-sm mb-4 text-gray-700 dark:text-slate-300">
            <FormattedDate date={event.data.dateTime} />
          </div>
          <div class="text-sm mb-4 text-gray-700 dark:text-slate-300">
            <EventAddress artists={event.data.location || []} />
          </div>
          <Button variant="primary" href={`/events/${event.id}`} text="MORE INFO" />
        </div>
      </Card>
    ))
  }
</div>
