---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';

import Layout from '~/layouts/PageLayout.astro';
import PostList from '~/components/ui/PostList.astro';
import PostListItem from '~/components/ui/PostListItem.astro';
import Headline from '~/components/ui/Headline.astro';
import Pagination from '~/components/blog/Pagination.astro';

import { newsletterListRobots, getStaticPathsNewsletterList } from '~/utils/newsletter';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  return await getStaticPathsNewsletterList({ paginate });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page } = Astro.props as Props;
const currentPage = page.currentPage ?? 1;

const metadata = {
  title: `Newsletter${currentPage > 1 ? ` — Page ${currentPage}` : ''}`,
  robots: {
    index: newsletterListRobots?.index && currentPage === 1,
    follow: newsletterListRobots?.follow,
  },
  openGraph: {
    type: 'website',
  },
};
---

<Layout metadata={metadata}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline
      title="Newsletter"
      subtitle="Stay updated with our latest news, events, and community highlights"
    />
    <PostList posts={page.data} ItemComponent={PostListItem} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
</Layout>
