---
import type { Form as Props } from '~/types';
import Button from '~/components/ui/Button.astro';
import FormField from '~/components/ui/FormField.astro';

const { inputs, textarea, disclaimer, button = 'Contact us', description = '' } = Astro.props;
---

<form>
  {
    inputs &&
      inputs.map(({ type = 'text', name, label = '', autocomplete = 'on', placeholder = '' }) =>
        name ? (
          <FormField type={type} name={name} label={label} autocomplete={autocomplete} placeholder={placeholder} />
        ) : null
      )
  }

  {
    textarea && (
      <FormField
        type="textarea"
        name={textarea.name || 'message'}
        label={textarea.label}
        rows={textarea.rows || 4}
        placeholder={textarea.placeholder}
      />
    )
  }

  {disclaimer && <FormField type="checkbox" name="disclaimer" id="disclaimer" label={disclaimer.label} />}

  {
    button && (
      <div class="mt-10 grid">
        <Button variant="primary" type="submit">
          {button}
        </Button>
      </div>
    )
  }

  {
    description && (
      <div class="mt-3 text-center">
        <p class="text-sm text-gray-600 dark:text-gray-400">{description}</p>
      </div>
    )
  }
</form>
